
.colorRedIsVariableThereforeNoWarningOrError {
  color : $red;
}
.colorPurpleIsVariableThereforeNoWarningOrError {
  color : $purple;
}

.fontWeightShouldDonothing {
  font-weight: 700;
}

.borderShouldPassNoWarningsOrError {
  border-width: $borderWidth;
}

.fontSizeIsVariable {
  font-size: $largeFont
}
